{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">


    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/nicepage.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'css/profile_details.css' %}" media="screen">
</head>
<body>

<div id="preloder">
    <div class="loader"></div>
</div>


<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="header__logo">
                    <a href="{% url 'index' %}">
                        <img src="{% static 'img/logo.png' %}" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="header__nav">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li class="{% if request.resolver_match.url_name == 'index' %}active{% endif %}"><a
                                    href="{% url 'index' %}">Homepage</a></li>

                            <li class="{% if request.resolver_match.url_name == 'catalogue' %}active{% endif %}"><a
                                    href="{% url 'catalogue' %}">Catalogue</a></li>


                            <li><a href="{% url 'contact' %}">Contacts</a></li>
                            {% if request.user.is_staff %}
                                <li><a href="{% url 'admin:index' %}">Admin <span class="arrow_carrot-down"></span></a>
                                    <ul class="dropdown">
                                        <li><a href="{% url 'add game' %}">Add Game</a></li>
                                    <li><a href="{% url 'add genre' %}">Add Genre</a></li>
                                    <li><a href="{% url 'add platform' %}">Add Platform</a></li>
                                    <li><a href="{% url 'add slider' %}">Add Slidebar</a></li>

                                    </ul>
                            {% endif %}

                            {% if not request.user.is_authenticated %}
                                <li class="{% if request.resolver_match.url_name == 'register' %}active{% endif %}"><a
                                        href="{% url 'register' %}">Register</a></li>
                                <li class="{% if request.resolver_match.url_name == 'login' %}active{% endif %}"><a
                                        href="{% url 'login' %}">Login</a></li>

                            {% else %}

                                <li><a href="{% url 'logout' %}">Log Out</a></li>
                            {% endif %}

                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="header__right">

                    {% if request.user.is_authenticated and request.user.profile %}
                        <a href="{% url 'profile' request.user.pk %}"><span class="icon_profile"></span></a>


                    {% endif %}

                </div>
            </div>
        </div>
        <div id="mobile-menu-wrap"></div>
    </div>
</header>
{% block page_content %}
{% endblock %}
<footer class="footer">
    <div class="page-up">
        <a href="#" id="scrollToTopButton"><span class="arrow_carrot-up"></span></a>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="footer__logo">
                    <a href="{% url 'index' %}"><img src="{% static 'img/logo.png' %}" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="footer__nav">
                    <ul>
                        <li class="active"><a href="{% url 'index' %}">Homepage</a></li>
                        <li><a href="{% url 'catalogue' %}">Catalogue</a></li>

                        <li><a href="{% url 'contact' %}">Contacts</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <p>Copyright &copy;
                    All rights reserved. BGames
                </p>

            </div>
        </div>
    </div>
</footer>

<!-- Js Plugins -->
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>


<script src="{% static 'js/jquery.slicknav.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>



</body>

</html>