.u-section-1 {
    background-image: none;
}

.u-section-1 .u-sheet-1 {
    min-height: 1434px;
}

.u-section-1 .u-layout-wrap-1 {
    width: 1161px;
    margin: 60px -21px 60px auto;
}

.u-section-1 .u-layout-cell-1 {
    min-height: 1330px;
}

.u-section-1 .u-container-layout-1 {
    padding: 0;
}

.u-section-1 .u-image-1 {
    width: 213px;
    height: 213px;

    background-position: 50% 50%;
    margin: 109px auto 0;
}

.u-section-1 .u-btn-1 {
    border-style: none;
    font-weight: 700;
    font-size: 0.9375rem;
    margin: 28px auto 0 6px;
    padding: 8px 19px;
}

.u-section-1 .u-btn-2 {
    border-style: none;
    font-weight: 700;
    font-size: 0.9375rem;
    background-image: none;
    margin: -40px auto 0 86px;
    padding: 8px 3px;
}

.u-section-1 .u-btn-3 {
    border-style: none;
    font-weight: 700;
    font-size: 0.9375rem;
    background-image: none;
    margin: -40px 6px 0 auto;
    padding: 8px 19px;
}

.u-section-1 .u-text-1 {
    font-family: "PT Sans Caption";
    font-size: 1.875rem;
    text-transform: uppercase;
    font-weight: 700;
    margin: 51px 27px 0;
}

.u-section-1 .u-group-1 {
    min-height: 310px;
    width: 300px;
    height: auto;
    margin: 14px auto 0;
}

.u-section-1 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
}

.u-section-1 .u-icon-1 {
    width: 37px;
    background-image: none;
    height: 37px;
    color: rgb(255, 255, 255) !important;
    margin: 40px 15px 0;
    padding: 3px;
}

p.u-text{
    text-align: center;
}

.u-section-1 .u-text-2 {
    width: 234px;
    margin: -33px auto 0;
}

.u-section-1 .u-icon-2 {
    width: 37px;
    height: 37px;
    color: rgb(255, 255, 255) !important;
    margin: 19px auto 0 15px;
    padding: 1px;
}

.u-section-1 .u-text-3 {
    margin: -33px 46px 0 76px;
}

h4.u-align-center:nth-child(4){
    margin: -28px -2px 0 76px;
    font-size: 1.2rem
;
}

.u-section-1 .u-icon-3 {
    width: 49px;
    background-image: none;
    height: 49px;
    color: rgb(255, 255, 255) !important;
    margin: 35px -5px 0 auto;
    padding: 4px;
}

.u-section-1 .u-text-4 {
    font-size: 6rem;
    margin: auto;
    text-align: center;
}



.u-section-1 .u-text-5 {
    margin: 6px 6px 0;
}

.u-section-1 .u-layout-cell-2 {
    min-height: 1330px;
}

.u-section-1 .u-container-layout-3 {
    padding: 0 0 30px;
}

.u-section-1 .u-text-6 {

  font-weight: 599;
  text-transform: uppercase;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
  width: 394px;
  margin: 111px auto 0;
}

.u-section-1 .u-table-1 {
    width: 767px;
    margin: 87px auto 0;
}

.u-section-1 .u-table-header-1 {
    font-weight: 700;
    background-image: none;
    font-size: 1.875rem;
    text-transform: none;
}

.u-section-1 .u-table-cell-1 {
    background-image: none;
    padding-top: 20px;
    padding-bottom: 20px;
}

.u-section-1 .u-table-cell-2 {
    background-image: none;
    padding-top: 20px;
    padding-bottom: 20px;
}

.u-section-1 .u-table-cell-3 {
    background-image: none;
    padding-top: 20px;
    padding-bottom: 20px;
}

.u-section-1 .u-table-cell-4 {
    background-image: none;
    padding-top: 20px;
    padding-bottom: 20px;
}

.u-section-1 .u-table-body-1 {
    font-size: 1.125rem;
    background-image: none;
}

.u-section-1 .u-table-cell-5 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.u-section-1 .u-table-cell-6 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.u-section-1 .u-table-cell-7 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.u-section-1 .u-table-cell-8 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.u-block-c30d-42 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.u-block-c30d-43 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.u-block-c30d-44 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.u-block-c30d-45 {
    padding-top: 20px;
    padding-bottom: 20px;
}



@media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
        min-height: 989px;
    }

    .u-section-1 .u-layout-wrap-1 {
        width: 940px;
        margin-right: 0;
    }

    .u-section-1 .u-layout-cell-1 {
        min-height: 1077px;
    }

    .u-section-1 .u-btn-1 {
        padding-left: 33px;
        padding-right: 33px;
        margin-left: 0;
    }

    .u-section-1 .u-btn-2 {
        padding-left: 33px;
        padding-right: 33px;
        margin-left: 23px;
    }

    .u-section-1 .u-btn-3 {
        margin-right: 0;
    }

    .u-section-1 .u-text-1 {
        margin-left: 0;
        margin-right: 0;
    }

    .u-section-1 .u-group-1 {
        width: 266px;
        height: auto;
    }

    .u-section-1 .u-container-layout-2 {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .u-section-1 .u-text-2 {
        margin-top: -34px;
    }

    .u-section-1 .u-icon-2 {
        padding: 0;
    }

    .u-section-1 .u-text-3 {
        margin-right: 29px;
        margin-left: 59px;
    }

    .u-section-1 .u-icon-3 {
        margin-top: -1px;
        margin-right: 81px;
    }

    .u-section-1 .u-text-4 {
        width: 50px;
        margin-top: -28px;
        margin-left: 93px;
        margin-right: 123px;
    }

    .u-section-1 .u-text-5 {
        margin-left: 0;
        margin-right: 0;
    }

    .u-section-1 .u-layout-cell-2 {
        min-height: 1077px;
    }

    .u-section-1 .u-table-1 {
        width: 674px;
    }

    .u-section-1 .u-btn-4 {
        margin-right: 0;
    }
}

@media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
        min-height: 273px;
    }

    .u-section-1 .u-layout-wrap-1 {
        width: 720px;
    }

    .u-section-1 .u-layout-cell-1 {
        min-height: 100px;
    }

    .u-section-1 .u-image-1 {
        width: 204px;
        height: 204px;
    }

    .u-section-1 .u-btn-2 {
        margin-left: 0;
    }

    .u-section-1 .u-text-1 {
        font-size: 1.5rem;
    }

    .u-section-1 .u-group-1 {
        width: 204px;
    }

    .u-section-1 .u-text-2 {
        width: 204px;
    }

    .u-section-1 .u-text-3 {
        margin-right: 0;
        margin-left: 26px;
    }

    .u-section-1 .u-icon-3 {
        margin-right: 62px;
    }

    .u-section-1 .u-text-4 {
        margin-left: 62px;
        margin-right: 92px;
    }

    .u-section-1 .u-layout-cell-2 {
        min-height: 100px;
    }

    .u-section-1 .u-table-1 {
        width: 516px;
    }
}

@media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
        min-height: 373px;
    }

    .u-section-1 .u-layout-wrap-1 {
        width: 540px;
    }

    .u-section-1 .u-container-layout-1 {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width: 575px) {
    .u-section-1 .u-layout-wrap-1 {
        width: 340px;
    }

    .u-section-1 .u-container-layout-1 {
        padding-left: 0;
        padding-right: 0;
    }

    .u-section-1 .u-icon-3 {
        margin-top: -21px;
    }

    .u-section-1 .u-text-4 {
        font-size: 1.875rem;
        margin-top: -8px;
    }

    .u-section-1 .u-text-6 {
        width: 340px;
    }

    .u-section-1 .u-table-1 {
        width: 340px;
    }
}